@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb:15, 16, 20;
  --min-sidebar-width: calc(var(--padding-sidebarIcon)*2 + 26px);
  --padding-sidebarIcon: 35px;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}
